/* CSS code for the Header section. */
.jumbotron {
    background: url("https://i.imgur.com/85aKb8P.jpg")  center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.jumbotron-heading {
    padding-top: 50px;
    font-weight: 400;
    color: #ffffff;
}

.jumbotron .container {
    max-width: 60rem;
}
  
