/* CSS code for the Header section. */
.jumbotron {
    background-image: url('assets/img/wood.jpg') no-repeat center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.jumbotron-heading {
    padding-top: 50px;
    font-weight: 400;
}

.jumbotron .container {
    max-width: 60rem;
}
  
