/* Variables used throughout will go here. */

/* EFA Color pallete */
$red: #D9514E;
$orange: #f79569;
$yellow: #ffca1b;
$green: #8acfba;
$blue: #86bad3;
$light-blue: #228dff;
$blue-green: #9AD0D5;
$light-green: #b6ff00;
$purple: #ba01ff;
$brown: #725b4d;
$gray: #53565A;
$dark: #4a4a4a;
$darkblue: #001c31;
$pink: #ff0092;
$black: #000 !default;

